@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body{
    width: 100%;   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: hsl(0, 0%, 95%);
}
nav{
    align-items: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    flex-direction: column;
}
.ass-btn{
    margin-top: 20px;
    background: black;
  }
  .ass-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
  }

.box-container{
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.box{
    width: 270px;
    padding: 15px;
    min-height: 430px;
}

.box1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box2{
    background-color: hsl(184, 100%, 22%);
}
.box3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content{
    padding: 15px;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin: 20px 0;
}
p{
    font-size: 15px;
    color:  hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
}

.btn{
    margin-top: 80px;
    padding: 15px 35px;
    border: 0;
    border-radius: 30px;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
}
.btn1{
    color: hsl(31, 77%, 52%);
}
.btn2{
    color: hsl(184, 100%, 22%);
}
.btn3{
    color: hsl(179, 100%, 13%);
}

